*{
    font-family: "poppins", sans-serif;
}

body {
  background: rgb(105,130,105);
  background: linear-gradient(0deg, rgba(105,130,105,1) 0%, rgba(212,226,212,1) 100%);
    padding: 40px 120px 0px 120px;
}

.nav-center{
    text-align: center;
    color: #698269;
    font-size: 24px;
}

.box-score {
    background-color: #fff;
    border-radius: 40px 0 40px 0;
    padding-top: 8px;
    padding-bottom: 20px;
}

.content-score{
    display: flex;
    justify-content: center;
}

/* bottom section */
.footer{
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 40px;
}
/* end bottom section */

@media (max-width: 991px){
    .nav-center{
        display: none;
    }
    /* perubahan di klik disini  */

}

@media (max-width: 414px){
    body {
        padding: 2rem;
    }
    /* perubahan  klik disini */

    footer{
        font-size: 8px;
    }

  .nav-right {
    display: none;
}

    .nav{
      display: block;
    }
}

/* <!-- source 2 --> */

.circle h1 {
  width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #698269;
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #F1DBBF;
    align-items: center;
}
  
  .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .text-center {
    text-align: center;
    color: #698269;
  }
  
  /* BUTTONS */
  .btn {
    padding: 4px 4px;
    font-size: 20px;
    font-weight: 500;
    width: 200px;
    text-align: center;
    border: none;
    margin-bottom: 8px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #698269;
    border-radius: 40px;
  }
  
  .btn:hover {
    cursor: pointer;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }
  
  /* FORMS */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    padding: 4px 4px;
    font-size: 20px;
    font-weight: 500;
    width: 200px;
    text-align: center;
    border: none;
    margin-bottom: 8px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #698269;
    border-radius: 40px;
  }
  
  input::placeholder {
    color: #aaa;
  }
  /* <!-- end source 2 --> */
