*{
    font-family: "poppins", sans-serif;
}

body {
    background-color: #698269;
    padding: 180px 120px 0px 120px;
}

.bg-green{
    background-color: #698269;

}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

.nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #698269;
}

.nav-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #698269;
    font-size: 36px;
}

.nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: transparent;
}

.box-score {
    background-color: #fff;
    border-radius: 40px 0 40px 0;
    padding: 0px 40px 40px 40px;
}

.box-score img{
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.text-center {
    text-align:center;
}

.text-center h3{
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.text-green {
    color: #698269;
}

.content-score{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.d-flex {
    display: flex;
    margin-bottom: 80px;
}

.justify-content-center {
    justify-content: center;

}

.btn {
    padding: 12px 48px;
    font-size: 20px;
    border: unset;
    font-weight: 700;
    border-radius: 40px;
}


.btn-green {
    background-color: #698269;
    color: #FFF;
}

footer {
    margin-top: 100px;
    width: 100%;
    padding: 16px;
    color: white;
}

@media (max-width: 991px){
    .nav-center{
        display: none;
    }
    /* perubahan di klik disini  */

}

@media (max-width: 414px){
    body {
        padding: 2rem;
    }
    /* perubahan  klik disini */

    footer{
        font-size: 8px;
    }
}

/* <!-- source 2 --> */

.circle h1 {
  width: 296px;
    height: 296px;
    border-radius: 50%;
    background-color: #698269;
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    color: #F1DBBF;
    align-items: center;
}
  
.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .container > * {
    width: 100%;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  /* BUTTONS */
  .btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #698269;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #698269;
  }
  
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(105,130,105);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }
  
  /* FORMS */
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #698269;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #698269;
    border-radius: 40px;
    box-shadow: 0 0.4rem 1.4rem 0 #6982698f;
  }
  
  input::placeholder {
    color: #aaa;
  }
  /* <!-- end source 2 --> */
