:root {
    --color1: #698269;
    --bgcolor: #fff;
    --fontcolor: #000;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
  }
  
  body {
    font-family: "poppins", sans-serif;
    width: 1440px;
  }
  
  .navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 0 70px 0 120px;
  }
  
  .navbar .navLogo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar .navLogo a {
    font-size: 24px;
    font-weight: 700;
    color: var(--color1);
    margin-right: 10px;
  }
  
  .navbar .navLogo img {
    width: fit-content;
    height: 65px;
  }
  
  .navbar .navMenu a {
    font-size: 20px;
    font-weight: 400;
    margin: 0 10px;
    color: #000;
  }
  
  .navbar .navMenu .menuQuiz {
    color: var(--color1);
  }
  
  .navbar .navMenu a:hover {
    color: var(--color1);
  }
  
  .navbar .navUser {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navUser .profilUser {
    margin-right: 20px;
    width: 160px;
    height: 40px;
    background-color: var(--color1);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    border-radius: 40px;
  }
  
  .navUser .profilImg {
    width: 40px;
    height: 40px;
  }
  
  .sidebar {
    width: 480px;
    min-height: 100vh;
    background-color: var(--color1);
    border-radius: 0 40px;
    padding: 70px 0 0 120px;
    position: absolute;
    left: 0;
  }
  
  .sidebar .sidebarList {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 30px;
  }
  
  .sidebar .listClass {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 400;
  }
  
  .sidebar .listClass a {
    margin-bottom: 10px;
    padding-left: 5%;
    width: 280px;
    height: 40px;
    color: #fff;
  }
  
  .sidebar .listClass a:hover {
    background-color: #fff;
    color: #698269;
    border-radius: 12px;
  }
  
  .sidebar .listClass .ipsClass {
    background-color: #fff;
    color: #698269;
    border-radius: 12px;
  }
  
  .mainSection {
    margin-left: 480px;
    /* position: absolute; */
    padding: 70px;
    box-sizing: border-box;
  }
  
  .mainSection .pSoal {
    font-size: 30px;
    font-weight: 600;
  }
  
  .containerQuiz {
    width: 100%;
    height: fit-content;
    background-color: var(--color1);
    padding: 40px;
    border-radius: 20px;
  }
  
  .containerQuiz .quizSoal {
    width: 100%;
    height: fit-content;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
  }
  
  .containerQuiz .quizSoal input {
    font-family: "poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    border-radius: 12px;
    padding: 0 12px;
    width: 100%;
    height: auto;
    text-align: start;
  }
  
  .containerQuiz .formQuiz {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  
  .containerQuiz .formQuiz label {
    margin-right: 5px;
    width: 3%;
    height: fit-content;
  }
  
  .containerQuiz .formQuiz input {
    font-family: "poppins", sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    padding: 0 12px;
    width: 97%;
  }
  
  .newQuiz {
    width: 100px;
    height: 40px;
    margin: 30px 0;
    background-color: var(--color1);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .newQuiz a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
  
  .rightLeft {
    display: flex;
    flex-direction: row;
  }